<!--
__author__    = "Westwood Robotics Corporation"
__email__     = "info@westwoodrobotics.io"
__copyright__ = "Copyright 2025 Westwood Robotics Corporation"
__date__      = "September 12, 2023"
__update__    = "August 25, 2025"
__project__   = "AOS"
__version__   = "0.2.0"
__status__    = "Production"
-->

<model>
  <name>themis</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
   <name>sjj</name>
   <email>jshen@westwoodrobotics.io</email>
  </author>

  <description>
    Simple version of THEMIS sdf.
  </description>
</model>
